In [146]:
import pandas as pd
import numpy as np

'''
ID            1-11   Character
YEAR         12-15   Integer
MONTH        16-17   Integer
ELEMENT      18-21   Character
VALUE1       22-26   Integer
MFLAG1       27-27   Character
QFLAG1       28-28   Character
SFLAG1       29-29   Character
VALUE2       30-34   Integer
MFLAG2       35-35   Character
QFLAG2       36-36   Character
SFLAG2       37-37   Character
  .           .          .
  .           .          .
  .           .          .
VALUE31    262-266   Integer
MFLAG31    267-267   Character
QFLAG31    268-268   Character
SFLAG31    269-269   Character
'''

w_fwf = [11,4,2,4]+[5,3]*31
n_fwf = ['ID','YEAR','MONTH','ELEMENT']
for i in range(31):
    n_fwf.extend([f'{i+1}',f'FLAG{i+1}'])


df = pd.read_fwf('data/USW00094728.dly',widths=w_fwf,names=n_fwf)

del df['ID']

vcol = [col for col in df.columns if 'FLAG' not in col]
df = df.loc[:,vcol]

df.replace(-9999, np.nan)

,YEAR,MONTH,ELEMENT,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,1869,1,TMAX,-17.0,-28.0,17.0,28.0,61.0,33.0,89.0,...,-17.0,39.0,89.0,33.0,-6.0,44.0,83.0,89.0,122.0,50.0
1,1869,1,TMIN,-72.0,-61.0,-28.0,11.0,28.0,11.0,17.0,...,-83.0,-67.0,17.0,-56.0,-78.0,-50.0,17.0,-11.0,50.0,-11.0
2,1869,1,PRCP,191.0,8.0,0.0,46.0,13.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,119.0,0.0
3,1869,1,SNOW,229.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1869,2,TMAX,6.0,11.0,22.0,33.0,-33.0,44.0,22.0,...,100.0,67.0,33.0,33.0,11.0,-6.0,-39.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15113,2020,1,TMAX,50.0,94.0,94.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15114,2020,1,TMIN,11.0,6.0,67.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15115,2020,1,PRCP,0.0,0.0,38.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15116,2020,1,SNOW,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15117,2020,1,SNWD,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
df
#df.pivot()

,YEAR,MONTH,ELEMENT,1,2,3,4,5,6,7,...,22,23,24,25,26,27,28,29,30,31
0,1869,1,TMAX,-17,-28,17,28,61,33,89,...,-17,39,89,33,-6,44,83,89,122,50
1,1869,1,TMIN,-72,-61,-28,11,28,11,17,...,-83,-67,17,-56,-78,-50,17,-11,50,-11
2,1869,1,PRCP,191,8,0,46,13,0,0,...,0,0,0,0,0,0,0,0,119,0
3,1869,1,SNOW,229,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1869,2,TMAX,6,11,22,33,-33,44,22,...,100,67,33,33,11,-6,-39,-9999,-9999,-9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15113,2020,1,TMAX,50,94,94,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15114,2020,1,TMIN,11,6,67,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15115,2020,1,PRCP,0,0,38,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15116,2020,1,SNOW,0,0,0,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
15117,2020,1,SNWD,0,0,0,-9999,-9999,-9999,-9999,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999

In [147]:


df.set_index(['ELEMENT','YEAR','MONTH'],inplace=True)
df

                      1   2   3     4     5     6     7     8     9    10  \
ELEMENT YEAR MONTH
TMAX    1869 1      -17 -28  17    28    61    33    89   122    89    67
TMIN    1869 1      -72 -61 -28    11    28    11    17    44    33     6
PRCP    1869 1      191   8   0    46    13     0     0     0     0     3
SNOW    1869 1      229   0   0     0     0     0     0     0     0     0
TMAX    1869 2        6  11  22    33   -33    44    22    44    33    39
...                 ...  ..  ..   ...   ...   ...   ...   ...   ...   ...
        2020 1       50  94  94 -9999 -9999 -9999 -9999 -9999 -9999 -9999
TMIN    2020 1       11   6  67 -9999 -9999 -9999 -9999 -9999 -9999 -9999
PRCP    2020 1        0   0  38 -9999 -9999 -9999 -9999 -9999 -9999 -9999
SNOW    2020 1        0   0   0 -9999 -9999 -9999 -9999 -9999 -9999 -9999
SNWD    2020 1        0   0   0 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                    ...    22    23    24    25    26    27    28    29    30  \
ELEMENT YEAR MONTH  ...
TMAX    1869 1      ...   -17    39    89    33    -6    44    83    89   122
TMIN    1869 1      ...   -83   -67    17   -56   -78   -50    17   -11    50
PRCP    1869 1      ...     0     0     0     0     0     0     0     0   119
SNOW    1869 1      ...     0     0     0     0     0     0     0     0     0
TMAX    1869 2      ...   100    67    33    33    11    -6   -39 -9999 -9999
...                 ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
        2020 1      ... -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
TMIN    2020 1      ... -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
PRCP    2020 1      ... -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
SNOW    2020 1      ... -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999
SNWD    2020 1      ... -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999 -9999

                      31
ELEMENT YEAR MONTH
TMAX    1869 1        50
TMIN    1869 1       -11
PRCP    1869 1         0
SNOW    1869 1         0
TMAX    1869 2     -9999
...                  ...
        2020 1     -9999
TMIN    2020 1     -9999
PRCP    2020 1     -9999
SNOW    2020 1     -9999
SNWD    2020 1     -9999

[15118 rows x 31 columns]

In [148]:
s = df.stack()

In [149]:

s.index.rename(['ELEMENT','YEAR','MONTH','DAY'],inplace=True)

In [151]:
df = s.to_frame(name='VALUE')
df

                        VALUE
ELEMENT YEAR MONTH DAY
TMAX    1869 1     1      -17
                   2      -28
                   3       17
                   4       28
                   5       61
...                       ...
SNWD    2020 1     27   -9999
                   28   -9999
                   29   -9999
                   30   -9999
                   31   -9999

[468658 rows x 1 columns]

In [136]:
#idx=s.index
#s.index.set_levels(idx.levels[2].astype(int),level=2,inplace=True)

In [137]:
s

ELEMENT  YEAR  MONTH  DAY
TMAX     1869  1      1       -17
                      2       -28
                      3        17
                      4        28
                      5        61
                             ...
SNWD     2020  1      27    -9999
                      28    -9999
                      29    -9999
                      30    -9999
                      31    -9999
Length: 468658, dtype: int64

In [159]:
y = s.index.get_level_values('YEAR')
m = s.index.get_level_values('MONTH')
d = s.index.get_level_values('DAY')

dt = pd.to_datetime(y*10000+m*100+d.astype(int),format='%Y%m%d',errors='coerce')

In [175]:
s.index = [s.index.get_level_values('ELEMENT'),dt]
s.index.rename(['ELEMENT','DATE'],inplace=True)

In [191]:
df = s.to_frame(name='VALUE')
df

                    VALUE
ELEMENT DATE
TMAX    1869-01-01    -17
        1869-01-02    -28
        1869-01-03     17
        1869-01-04     28
        1869-01-05     61
...                   ...
SNWD    2020-01-27  -9999
        2020-01-28  -9999
        2020-01-29  -9999
        2020-01-30  -9999
        2020-01-31  -9999

[468658 rows x 1 columns]

In [203]:
df.reset_index()
df1 = df.pivot_table(index='DATE',columns='ELEMENT',values = 'VALUE',fill_value = np.nan)

DATE
1869-01-01     -17
1869-01-02     -28
1869-01-03      17
1869-01-04      28
1869-01-05      61
              ...
2020-01-27   -9999
2020-01-28   -9999
2020-01-29   -9999
2020-01-30   -9999
2020-01-31   -9999
Name: TMAX, Length: 55182, dtype: int64

In [98]:
s_TMAX.iloc[0:63]

DATE
1869-01-01     -1.7
1869-01-02     -2.8
1869-01-03      1.7
1869-01-04      2.8
1869-01-05      6.1
              ...
1869-02-28     -3.9
NaT          -999.9
NaT          -999.9
NaT          -999.9
1869-03-01     -3.3
Length: 63, dtype: float64